# Scala / SBT
target/
project/target/
project/project/
project/streams/

# Metals / IDE
.metals/
.bloop/
.vscode/

# Data
*.csvtarget/
src/main/resources/linkedin_jobs.csv
src/main/resources/clean_linkedin_jobs/
src/main/resources/cleaned_linkedin_jobs.csv
